<a href="https://colab.research.google.com/github/1fac/Archivos-DA/blob/main/Mi_proyecto_61680.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Presentación del proyecto

Este proyecto utiliza técnicas de machine learning para analizar patrones en la facturación y detectar oportunidades de mejora en los beneficios operativos. El enfoque principal es evaluar las diferencias entre la facturación dirigida a sociedades relacionadas y a clientes externos, identificando posibles estrategias para maximizar la rentabilidad. A través de un modelo predictivo, se pretende priorizar la facturación a sociedades externas al grupo, siempre que estas representen una oportunidad financiera más rentable. Los datos analizados incluyen transacciones de sociedades ubicadas en América Latina e Italia. Los resultados esperados incluyen la identificación de nuevos mercados más rentables y un impacto positivo en la estructura operativa.

La motivación de este proyecto radica en la necesidad de optimizar los beneficios operativos y explorar nuevas oportunidades comerciales más rentables fuera del grupo empresarial. Profesionalmente, este trabajo representa una oportunidad clave para destacar en mi rol como asesor financiero, aportando valor estratégico a la organización y fortaleciendo mi desarrollo personal y prestigio dentro de la empresa.


El análisis está dirigido a la dirección y líderes estratégicos de la compañía interesados en optimizar la rentabilidad operativa. También será relevante para equipos de finanzas y planeamiento, dado que el proyecto proporcionará herramientas prácticas para orientar decisiones comerciales basadas en datos.

Conclusión y relevancia

El proyecto busca redefinir la estrategia de facturación al priorizar mercados externos más rentables, lo cual no solo incrementará los beneficios operativos, sino que también diversificará las fuentes de ingreso. La aplicación de machine learning asegura decisiones basadas en datos concretos, maximizando el retorno de inversión y mejorando la eficiencia en la asignación de recursos. Este enfoque representa un cambio estratégico que podría sentar las bases para un crecimiento sostenido en nuevos mercados clave.

En el negocio de ingeniería y construcción, gran parte de la facturación actual se realiza hacia sociedades relacionadas dentro del grupo. Si bien estas transacciones son importantes, podrían estar limitando el potencial de crecimiento de los beneficios operativos. Este proyecto busca evaluar si enfocar una mayor proporción de la facturación hacia sociedades externas al grupo podría generar mejores resultados financieros.

El análisis se centrará exclusivamente en los datos de facturación, sin considerar costos, para identificar patrones y tendencias que ayuden a determinar qué tipo de clientes o mercados generan mayores ingresos. Con el uso de machine learning, se procesará la información histórica de facturación para comparar los ingresos provenientes de sociedades relacionadas frente a los de clientes externos.

El objetivo es sacar conclusiones basadas en datos sobre qué mercados o tipos de clientes ofrecen mejores oportunidades de rentabilidad, especialmente en regiones clave como América Latina e Italia. Esto permitirá a la dirección evaluar opciones para diversificar los ingresos y maximizar los beneficios operativos sin comprometer la estabilidad actual del negocio.

# Presentación ejecutiva

# Lectura de datos

Importo las librerías a utilizar para la lectura, limpieza y procesamiento de datos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import chardet
import shutil
import requests
from io import StringIO
import locale
import datetime as dt
from datetime import datetime as dt_dt
pd.set_option('display.max_columns', 30)
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.6.0)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

##En este punto accedo a bases relacionales desde Pandas.

Cómo primer punto estoy configurando mí usuario.

In [2]:
!git config --global user.name "1fac"
!git config --global user.email "facundoseoane@hotmail.com"

Acá estoy clonando la carpeta desde dónde extraígo los datos.

In [3]:
!git clone https://github.com/1fac/mi_proyecto_git_61680.git

Cloning into 'mi_proyecto_git_61680'...
remote: Enumerating objects: 79, done.
remote: Counting objects: 100% (79/79), done.
remote: Compressing objects: 100% (77/77), done.
remote: Total 79 (delta 36), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (79/79), 36.03 MiB | 2.75 MiB/s, done.
Resolving deltas: 100% (36/36), done.

Hago una lectura de los archivos que tengo en la carpeta de trabajo.

In [4]:
!ls mi_proyecto_git_61680

'clase doc.csv'  'df Fac3.csv'	'df Fac6.csv'		   README.md
'df Fac1.csv'	 'df Fac4.csv'	'df Fac7.csv'		   Sociedades.csv
'df Fac2.csv'	 'df Fac5.csv'	 Mi_proyecto_61680.ipynb

Hago una lectura previa para determinar la codificación de los datos

In [5]:
with open("mi_proyecto_git_61680/df Fac7.csv", "rb") as f:
    result = chardet.detect(f.read())
    print(result)

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

Realizo una lectura previa de uno de los archivos

In [6]:
with open("mi_proyecto_git_61680/df Fac7.csv", "r", encoding="UTF-8-SIG") as file:
    for i in range(5):
        print(file.readline())

St;Soc.;Div.;Cliente;SocGLA;Nombre Clientes;Clase;Referencia;Nº doc.;Texto;Usuario;Doc.comp.;Ref.fact.;Año;Ejerc./mes;Cuenta;Período;Factura;Lib.mayor;Cta.CP;Venc.neto;Status;Distr;AC;Rg;Material;IR;Fecha doc.;Importe en MD;Mon.;Tp.camb.ef.;Importe en ML;ML;Impte.valor.ML2;Venc.neto;Demora;Compens.;Importe en ML2;ML2;ImpRetImp;ImpteExentRetImpto;Impte.base retenc.;Fe.valor;Fecha pago;MonPa;Importe en MP;Registrado;Soc. Relacionada

@5B\Qcompens.@;PE02;CE04;440;;G Y M ;DZ;COBRANZA GYM;12000031;;OCPPAF;12000031;12000031;2011;2011/02;440;02;;1114119001;440;;;;;;;;12/08/2011;31.715,48;USD;2,745;87.059,00;PEN;31.808,18;12/08/2011;0;12/08/2011;31.808,18;USD;0;0;0;;12/08/2011;;0;15/08/2011;No

@5B\Qcompens.@;PE02;CE04;440;;G Y M ;DZ;COBRANZA GYM;12000031;;OCPPAF;12000031;12000031;2011;2011/02;440;02;;1114119001;9110000006;;;;;;;;12/08/2011;-264.296,03;USD;2,745;-725.492,60;PEN;-264.296,03;12/08/2011;0;12/08/2011;-264.296,03;USD;0;0;0;;12/08/2011;;0;15/08/2011;No

@5B\Qcompens.@;PE02;0140;440;;G Y M ;DZ;;12000043;;TPEJED;12000043;12000043;2004;2004/11;440;11;;1114081001;9110000006;;;;;;;;16/05/2005;-13.985,76;USD;3,26148;-45.614,30;PEN;-13.985,76;16/05/2005;0;16/05/2005;-13.985,76;USD;0;0;0;;16/05/2005;;0;16/05/2005;No

@5B\Qcompens.@;PE02;0140;440;;G Y M ;DZ;;12000044;;TPEJED;12000044;12000044;2004;2004/11;440;11;;1114081001;9110000006;;;;;;;;17/05/2005;-6.220,28;USD;3,48401;-21.671,50;PEN;-6.220,28;17/05/2005;0;17/05/2005;-6.220,28;USD;0;0;0;;17/05/2005;;0;17/05/2005;No

Importo los 7 archivos de datos que confecciona la base total a analizar desde Github y armo un solo Dataset

In [8]:
# URLs de los archivos en GitHub
urls = [
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac1.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac2.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac3.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac4.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac5.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac6.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac7.csv",
]

# Lista para almacenar los DataFrames
dataframes = []

# Descargar y cargar cada archivo en un DataFrame
for url in urls:
    response = requests.get(url)
    if response.status_code == 200:
        csv_data = StringIO(response.text)
        df = pd.read_csv(csv_data, sep=";", encoding="UTF-8-SIG", low_memory=False)
        dataframes.append(df)
    else:
        print(f"Error al descargar el archivo: {url}")

# Combinar todos los DataFrames en uno solo
df_comp_orig = pd.concat(dataframes, ignore_index=True)

# Mostrar las primeras filas del dataset combinado
print(df_comp_orig.head(5))
print(f"Total de filas combinadas: {len(df_comp_orig)}")

               St  Soc.  Div. Cliente  SocGLA  \
0  @5B\Qcompens.@  01CA  KZ38     227  S00133
1  @5B\Qcompens.@  01CA  KZ38     227  S00133
2  @5B\Qcompens.@  01CA  KZ38     227  S00133
3  @5B\Qcompens.@  01CA  KZ38     227  S00133
4  @5B\Qcompens.@  01CA  KZ38     227  S00133

                    Nombre Clientes Clase Referencia     Nº doc. Texto  \
0  Ingenieria y Construcción CHILE     DZ        NaN  12000011.0   NaN
1  Ingenieria y Construcción CHILE     DZ        NaN  12000012.0   NaN
2  Ingenieria y Construcción CHILE     DZ        NaN  12000014.0   NaN
3  Ingenieria y Construcción CHILE     DZ        NaN  12000020.0   NaN
4  Ingenieria y Construcción CHILE     DZ        NaN  12000027.0   NaN

  Usuario   Doc.comp. Ref.fact.     Año Ejerc./mes  ... Impte.valor.ML2  \
0  TEAIRL  12000011.0  12000011  2010.0    2010/05  ...      547.065,59
1  TEAIRL  12000014.0  12000012  2010.0    2010/05  ...     -547.065,59
2  TEAIRL  12000014.0  12000014  2010.0    2010/06  ...     -415.303,68
3  TEAIRL  12000020.0  12000020  2010.0    2010/11  ...     -202.596,03
4  TEAIRL  12000027.0  12000027  2009.0    2009/12  ...      -16.141,50

   Venc.neto.1  Demora    Compens. Importe en ML2  ML2  ImpRetImp  \
0   30/11/2010     0.0  30/11/2010     547.065,59  USD        0.0
1   30/11/2010    29.0  29/12/2010    -547.065,59  USD        0.0
2   29/12/2010     0.0  29/12/2010    -415.303,68  USD        0.0
3   18/05/2011     0.0  18/05/2011    -202.596,03  USD        0.0
4   07/06/2010     0.0  07/06/2010     -16.141,50  USD        0.0

   ImpteExentRetImpto  Impte.base retenc.  Fe.valor  Fecha pago MonPa  \
0                 0.0                 0.0       NaN  30/11/2010   NaN
1                 0.0                 0.0       NaN  30/11/2010   NaN
2                 0.0                 0.0       NaN  29/12/2010   NaN
3                 0.0                 0.0       NaN  18/05/2011   NaN
4                 0.0                 0.0       NaN  07/06/2010   NaN

  Importe en MP  Registrado Soc. Relacionada
0           0.0  08/12/2010               Si
1           0.0  08/12/2010               Si
2           0.0  06/01/2011               Si
3           0.0  08/06/2011               Si
4           0.0  14/06/2010               Si

[5 rows x 48 columns]
Total de filas combinadas: 436866

Guardo como CSV el dataset confeccionado.

In [10]:
df_comp_orig.to_csv("df_comp_orig.csv", index=False, sep=";", encoding="UTF-8-SIG")

Muevo el archivo al repositorio de Github clonado.

In [11]:
shutil.move("df_comp_orig.csv", "mi_proyecto_git_61680/df_comp_orig.csv")

'mi_proyecto_git_61680/df_comp_orig.csv'

# Data Wranglimg - Limpieza y transformación de datos

Realizo una consulta de las columnas que tiene y confecciono un diccionario para entender los datos a analizar.

In [12]:
df_comp_orig.columns

Index(['St', 'Soc.', 'Div.', 'Cliente', 'SocGLA', 'Nombre Clientes', 'Clase',
       'Referencia', 'Nº doc.', 'Texto', 'Usuario', 'Doc.comp.', 'Ref.fact.',
       'Año', 'Ejerc./mes', 'Cuenta', 'Período', 'Factura', 'Lib.mayor',
       'Cta.CP', 'Venc.neto', 'Status', 'Distr', 'AC', 'Rg', 'Material', 'IR',
       'Fecha doc.', 'Importe en MD', 'Mon.', 'Tp.camb.ef.', 'Importe en ML',
       'ML', 'Impte.valor.ML2', 'Venc.neto.1', 'Demora', 'Compens.',
       'Importe en ML2', 'ML2', 'ImpRetImp', 'ImpteExentRetImpto',
       'Impte.base retenc.', 'Fe.valor', 'Fecha pago', 'MonPa',
       'Importe en MP', 'Registrado', 'Soc. Relacionada'],
      dtype='object')

###Diccionario del Dataset

St: Estado del Documento

Soc.: Sociedad Emisora

Div.: Nomenclador de proyecto por sociedad

Cliente: N° de Cliente

SocGLA: Código de sociedad relacionada

Nombre Clientes: Nombre de cliente

Clase: Nomenclador del tipo de comprobante emitido

Referencia: Número de documento

Nº doc.: Número de documento interno

Texto: Texto de referencia

Usuario: Usuario que registro al sistema

Doc.comp.: Documento interno que referencia operaciones

Ref.fact.: Número de documento interno o asociación a documentos

Año: Año de ejercicio

Ejerc./mes: Año y mes de ejercicio

Cuenta: N° de Cliente

Período: Período de ejercicio

Factura: Dato no relevante

Lib.mayor: Cuenta contable contrapartida

Cta.CP: Cuenta contable

Venc.neto: Vencimiento del pago

Status: Sin datos

Distr: Sin datos

AC: Sin datos

Rg: Sin datos

Material: Sin datos

IR: No relevante

Fecha doc.: Fecha de documento

Importe en MD: Importe en moneda de documento

Mon.: Moneda de documento

Tp.camb.ef.: Tipo de cambios de moneda extranjera con respecto a moneda local

Importe en ML: Importe en moneda local

ML: Moneda local

Impte.valor.ML2: No relevante

Venc.neto.1: No relevante

Demora: Días de vencimiento

Compens.: Fecha de compensación

Importe en ML2: Importe en dolares

ML2: Moneda dólar

ImpRetImp: Importe retenido de impuestos

ImpteExentRetImpto: Importe exento de retencion

Impte.base retenc.: Base de retención

Fe.valor: No relevante

Fecha pago: Fecha de Pago


MonPa: No relevante

Importe en MP: No relevante

Registrado: Fecha de registro del documento

Soc. Relacionada: La sociedad es relacionada o no

Identificar valores nulos

In [35]:
df_comp_orig.isnull().sum()

Soc.                 10161
Div.                 10161
Cliente              10161
SocGLA              258274
Nombre Clientes      10171
Clase                10161
Referencia           46113
Nº doc.                  0
Texto                87747
Usuario              10161
Doc.comp.                0
Ref.fact.            10161
Año                      0
Ejerc./mes           10161
Período                  0
Fecha doc.           10161
Importe en MD        10161
Mon.                 10161
Tp.camb.ef.          11727
Importe en ML        10161
ML                   10161
Demora                   0
Compens.             13499
Importe en ML2       10161
ML2                  10161
Fecha pago           10161
Registrado           10161
Soc. Relacionada     10161
dtype: int64

Según se observa, hay filas completas que tienen datos irrelevantes, y apuntan a ser 10.161 registros.

Hago la consulta para ver que valores son ceros para buscar una razonabilidad

In [37]:
zero = df_comp_orig == 0
zero.sum()

Soc.                     0
Div.                     0
Cliente                  0
SocGLA                   0
Nombre Clientes          0
Clase                    0
Referencia               0
Nº doc.              10161
Texto                    0
Usuario                  0
Doc.comp.            13499
Ref.fact.                0
Año                  10161
Ejerc./mes               0
Período              10161
Fecha doc.               0
Importe en MD            0
Mon.                     0
Tp.camb.ef.              0
Importe en ML            0
ML                       0
Demora              137677
Compens.                 0
Importe en ML2           0
ML2                      0
Fecha pago               0
Registrado               0
Soc. Relacionada         0
dtype: Int64

Hay datos cómo número de documento, año y período que dentro del dataset no pueden ser ceros, por voy a filtrarlos para verlos en otro grado de detalle.

In [38]:
# Filtrar filas donde las columnas específicas sean todas igual a 0
columnas_especificas = ['Nº doc.', 'Año', 'Período']
filas_ceros = df_comp_orig[(df_comp_orig[columnas_especificas] == 0).all(axis=1)]

# Mostrar las filas filtradas
print(filas_ceros)

       Soc. Div. Cliente SocGLA Nombre Clientes Clase Referencia  Nº doc.  \
365756  NaN  NaN     NaN   <NA>             NaN   NaN       <NA>        0
365757  NaN  NaN     NaN   <NA>             NaN   NaN       <NA>        0
365758  NaN  NaN     NaN   <NA>             NaN   NaN       <NA>        0
365759  NaN  NaN     NaN   <NA>             NaN   NaN       <NA>        0
365760  NaN  NaN     NaN   <NA>             NaN   NaN       <NA>        0
...     ...  ...     ...    ...             ...   ...        ...      ...
375912  NaN  NaN     NaN   <NA>             NaN   NaN       <NA>        0
375913  NaN  NaN     NaN   <NA>             NaN   NaN       <NA>        0
375914  NaN  NaN     NaN   <NA>             NaN   NaN       <NA>        0
375915  NaN  NaN     NaN   <NA>             NaN   NaN       <NA>        0
375916  NaN  NaN     NaN   <NA>             NaN   NaN       <NA>        0

       Texto Usuario  Doc.comp. Ref.fact.  Año Ejerc./mes  Período Fecha doc.  \
365756   NaN     NaN          0       NaN    0        NaN        0        NaN
365757   NaN     NaN          0       NaN    0        NaN        0        NaN
365758   NaN     NaN          0       NaN    0        NaN        0        NaN
365759   NaN     NaN          0       NaN    0        NaN        0        NaN
365760   NaN     NaN          0       NaN    0        NaN        0        NaN
...      ...     ...        ...       ...  ...        ...      ...        ...
375912   NaN     NaN          0       NaN    0        NaN        0        NaN
375913   NaN     NaN          0       NaN    0        NaN        0        NaN
375914   NaN     NaN          0       NaN    0        NaN        0        NaN
375915   NaN     NaN          0       NaN    0        NaN        0        NaN
375916   NaN     NaN          0       NaN    0        NaN        0        NaN

       Importe en MD Mon. Tp.camb.ef. Importe en ML   ML  Demora Compens.  \
365756           NaN  NaN         NaN           NaN  NaN       0      NaN
365757           NaN  NaN         NaN           NaN  NaN       0      NaN
365758           NaN  NaN         NaN           NaN  NaN       0      NaN
365759           NaN  NaN         NaN           NaN  NaN       0      NaN
365760           NaN  NaN         NaN           NaN  NaN       0      NaN
...              ...  ...         ...           ...  ...     ...      ...
375912           NaN  NaN         NaN           NaN  NaN       0      NaN
375913           NaN  NaN         NaN           NaN  NaN       0      NaN
375914           NaN  NaN         NaN           NaN  NaN       0      NaN
375915           NaN  NaN         NaN           NaN  NaN       0      NaN
375916           NaN  NaN         NaN           NaN  NaN       0      NaN

       Importe en ML2  ML2 Fecha pago Registrado Soc. Relacionada
365756            NaN  NaN        NaN        NaN              NaN
365757            NaN  NaN        NaN        NaN              NaN
365758            NaN  NaN        NaN        NaN              NaN
365759            NaN  NaN        NaN        NaN              NaN
365760            NaN  NaN        NaN        NaN              NaN
...               ...  ...        ...        ...              ...
375912            NaN  NaN        NaN        NaN              NaN
375913            NaN  NaN        NaN        NaN              NaN
375914            NaN  NaN        NaN        NaN              NaN
375915            NaN  NaN        NaN        NaN              NaN
375916            NaN  NaN        NaN        NaN              NaN

[10161 rows x 28 columns]

Elimino las columnas que no me parecen relevantes a priori

In [13]:
dropna_columns =['St', 'Cuenta', 'Factura', 'Lib.mayor', 'Cta.CP', 'Venc.neto', 'Status', 'Distr', 'AC', 'Rg', 'Material', 'IR', 'Impte.valor.ML2', 'Venc.neto.1', 'Impte.base retenc.', 'Fe.valor', 'MonPa', 'Importe en MP','ImpRetImp', 'ImpteExentRetImpto', 'Impte.base retenc.']
df_comp_orig.drop(columns=dropna_columns, inplace=True)

In [14]:
df_comp_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436866 entries, 0 to 436865
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Soc.              426705 non-null  object
 1   Div.              426705 non-null  object
 2   Cliente           426705 non-null  object
 3   SocGLA            178592 non-null  object
 4   Nombre Clientes   426695 non-null  object
 5   Clase             426705 non-null  object
 6   Referencia        390753 non-null  object
 7   Nº doc.           426705 non-null  float64
 8   Texto             349119 non-null  object
 9   Usuario           426705 non-null  object
 10  Doc.comp.         423367 non-null  float64
 11  Ref.fact.         426705 non-null  object
 12  Año               426705 non-null  float64
 13  Ejerc./mes        426705 non-null  object
 14  Período           426705 non-null  float64
 15  Fecha doc.        426705 non-null  object
 16  Importe en MD     426705 non-null  object
 17  Mon.              426705 non-null  object
 18  Tp.camb.ef.       425139 non-null  object
 19  Importe en ML     426705 non-null  object
 20  ML                426705 non-null  object
 21  Demora            426705 non-null  float64
 22  Compens.          423367 non-null  object
 23  Importe en ML2    426705 non-null  object
 24  ML2               426705 non-null  object
 25  Fecha pago        426705 non-null  object
 26  Registrado        426705 non-null  object
 27  Soc. Relacionada  426705 non-null  object
dtypes: float64(5), object(23)
memory usage: 93.3+ MB

Tomo una muestra aleatoria de 10 filas

In [32]:
df_comp_orig.sample(5)

,Soc.,Div.,Cliente,SocGLA,Nombre Clientes,Clase,Referencia,Nº doc.,Texto,Usuario,Doc.comp.,Ref.fact.,Año,Ejerc./mes,Período,Fecha doc.,Importe en MD,Mon.,Tp.camb.ef.,Importe en ML,ML,Demora,Compens.,Importe en ML2,ML2,Fecha pago,Registrado,Soc. Relacionada
86025,AR33,Z290,5711,<NA>,INC SOCIEDAD ANONIMA,AB,COMP,30001015,COMP,TSRAIS,30001015.0,30001015,2016,2016/03,3,30/09/2016,"115.190,48",ARS,1,"115.190,48",ARS,0,30/09/2016,"7.487,38",USD,30/09/2016,05/10/2016,No
184781,01MX,MZ61,4517,<NA>,Pérez Serrano Rocío Guadalupe,DB,A-00000617,11000218,Baja I.800315 0 Nissan Sentra MX56775 3N1CB51S...,TMXHNZ,12000112.0,11000218,2011,2011/05,5,22/11/2011,"60.275,00",MXN,1,"60.275,00",MXN,1,23/11/2011,"4.419,97",USD,22/11/2011,22/11/2011,No
172521,BR05,TEPA,662,S00050,Ingenieria y Construcción CIA TEC.INTERNACIONA...,DH,"2,008E+13",29000191,ALUGUEL DE EQUIPAMENTOS MAIO/09,TBRFAM,12000111.0,29000191,2008,2008/12,12,23/06/2009,"15.932,50",USD,"2,00739","31.982,70",BRL,14,06/08/2009,"15.932,50",USD,23/07/2009,23/06/2009,Si
97544,BR03,0290,1766,<NA>,PETROLEO BRASILEIRO S A PETROBRAS,DZ,SOCOMINTER,12000769,NF 0110,TBRHMH,12000769.0,12000769,2009,2009/11,11,13/05/2010,"-104.567,26",BRL,1,"-104.567,26",BRL,0,13/05/2010,"-58.712,67",USD,13/05/2010,17/05/2010,No
247997,AR02,TEPA,3075,<NA>,ANDREJERAK NAHUEL JUAN CARLOS,DR,0001B00003875,11000784,Venta de un Proyector de Rayos Gamma Tech,TEAJNS,12001457.0,11000784,2009,2009/05,5,30/11/2009,"13.260,00",ARS,1,"13.260,00",ARS,0,30/11/2009,"3.499,60",USD,30/11/2009,04/12/2009,No

Le doy formato a algunos campos objects

In [16]:
df_comp_orig['Período'] = pd.to_numeric(df_comp_orig['Período'], errors='coerce').fillna(0).astype(int)

In [18]:
df_comp_orig['Año'] = pd.to_numeric(df_comp_orig['Año'], errors='coerce').fillna(0).astype(int)

In [20]:
df_comp_orig['Demora'] = pd.to_numeric(df_comp_orig['Demora'], errors='coerce').fillna(0).astype(int)

In [23]:
df_comp_orig['SocGLA'] = df_comp_orig['SocGLA'].astype('string')

In [24]:
df_comp_orig['Referencia'] = df_comp_orig['Referencia'].astype('string')

In [31]:
df_comp_orig['Nº doc.'] = pd.to_numeric(df_comp_orig['Nº doc.'], errors='coerce').fillna(0).astype(int)

In [33]:
df_comp_orig['Doc.comp.'] = pd.to_numeric(df_comp_orig['Doc.comp.'], errors='coerce').fillna(0).astype(int)

In [26]:
df_comp_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436866 entries, 0 to 436865
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Soc.              426705 non-null  object
 1   Div.              426705 non-null  object
 2   Cliente           426705 non-null  object
 3   SocGLA            178592 non-null  string
 4   Nombre Clientes   426695 non-null  object
 5   Clase             426705 non-null  object
 6   Referencia        390753 non-null  string
 7   Nº doc.           426705 non-null  float64
 8   Texto             349119 non-null  object
 9   Usuario           426705 non-null  object
 10  Doc.comp.         423367 non-null  float64
 11  Ref.fact.         426705 non-null  object
 12  Año               436866 non-null  int64
 13  Ejerc./mes        426705 non-null  object
 14  Período           436866 non-null  int64
 15  Fecha doc.        426705 non-null  object
 16  Importe en MD     426705 non-null  object
 17  Mon.              426705 non-null  object
 18  Tp.camb.ef.       425139 non-null  object
 19  Importe en ML     426705 non-null  object
 20  ML                426705 non-null  object
 21  Demora            436866 non-null  int64
 22  Compens.          423367 non-null  object
 23  Importe en ML2    426705 non-null  object
 24  ML2               426705 non-null  object
 25  Fecha pago        426705 non-null  object
 26  Registrado        426705 non-null  object
 27  Soc. Relacionada  426705 non-null  object
dtypes: float64(2), int64(3), object(21), string(2)
memory usage: 93.3+ MB

# Análisis Exploratorio de datos

In [34]:
df_comp_orig.sample(10)

,Soc.,Div.,Cliente,SocGLA,Nombre Clientes,Clase,Referencia,Nº doc.,Texto,Usuario,Doc.comp.,Ref.fact.,Año,Ejerc./mes,Período,Fecha doc.,Importe en MD,Mon.,Tp.camb.ef.,Importe en ML,ML,Demora,Compens.,Importe en ML2,ML2,Fecha pago,Registrado,Soc. Relacionada
249760,AR02,TEPA,3741,<NA>,Ingeniero Jose Mará Casa SRL,DZ,FC 42057,12001271,NaN,TEABDC,12001284,11000641,2010,2010/04,4,29/10/2010,"-42.880,50",ARS,1,"-42.880,50",ARS,0,29/10/2010,"-10.891,67",USD,29/10/2010,04/11/2010,No
376692,PE02,0315,2351,S03261,CONSORCIO PROYECTO CHIQUINTIRCA,DZ,DET CHIQUINTIRCA,12000195,FC 050-4259,TPEPOE,12000241,12000195,2011,2011/07,7,09/01/2012,"-1.909,00",PEN,1,"-1.909,00",PEN,71,20/03/2012,"-708,61",USD,09/01/2012,31/01/2012,Si
129925,BR10,0356,3947,<NA>,PETROLEO BRASILEIRO S A PETROBRAS,DR,000000766-1,11000286,COD: 003947 PETROLEO BRASILEIRO REF: 0090034623,TBRZCB,12000334,11000286,2011,2011/07,7,31/01/2012,"713.875,39",BRL,1,"713.875,39",BRL,7,08/03/2012,"409.428,95",USD,01/03/2012,31/01/2012,No
306424,EC14,0500,7362,<NA>,SHAYA ECUADOR SA,DB,001001000007966,11010109,FC3.28,TCUMHJ,12000376,11010109,2022,2022/04,4,14/10/2022,"32.583,17",USD,1,"32.583,17",USD,11,25/10/2022,"32.583,17",USD,14/10/2022,14/10/2022,No
258917,AR02,0460,10286,S03580,Ingenieria y Construcción CIA TECNICA INT SACI...,DB,0070A00015707,11000430,Venta de materiales - Gasoducto Presidente Nestor,TEABRE,12000366,11000430,2024,2024/02,2,26/08/2024,"366,08",USD,"948,50003","347.226,89",ARS,-7,18/09/2024,"366,08",USD,25/09/2024,28/08/2024,Si
347846,AR33,Z241,687,<NA>,TELEFÓNICA MÓVILES ARGENTINA,DF,0022A00000357,10002442,APLICA A FACTURA 0022A00002799 - ANULACION TOTAL,TSRAIS,30002196,10002442,2016,2016/07,7,17/01/2017,"-1.249.320,32",ARS,1,"-1.249.320,32",ARS,0,17/01/2017,"-78.707,18",USD,17/01/2017,17/01/2017,No
69674,AR10,TEPA,LAR10,<NA>,Cliente Interno Liquidación AR10,ET,0090079295,49000029,NaN,TEAKKI,81000014,49000029,2015,2015/08,8,20/02/2016,"128.305,33",USD,"15,06","1.932.278,27",ARS,1,30/11/2018,"128.305,33",USD,20/02/2016,02/03/2016,No
196731,02MX,M351,278,S00129,Ingenieria y Construcción DE,DD,CA-00000574,20000000,prestación de servicios Quincenal Nov 2016,TMXHNZ,12000020,20000000,2016,2016/05,5,18/11/2016,"-275.233,81",MXN,1,"-275.233,81",MXN,0,18/11/2016,"-13.566,27",USD,18/11/2016,03/12/2016,Si
2727,01MX,MO61,2076,<NA>,"MITSUBISHI HEAVY INDUSTRIES,",DZ,COBRO 25/JUN/08,12000201,"Cobro del 25/Jun/2008, Mitsubishi Heavy Indust...",TMXAFI,12000201,12000201,2007,2007/12,12,26/06/2008,"-40.349,08",USD,"10,318","-416.321,81",MXN,4,30/06/2008,"-40.349,08",USD,26/06/2008,02/07/2008,No
230856,AR02,0050,104,S00040,Aceros ARGENTINA,DB,0056A00003762,11001227,Certificado correspondiente a Febrero-14,TEATJM,12001067,11001227,2013,2013/08,8,28/02/2014,"680.442,21",ARS,1,"680.442,21",ARS,1,31/03/2014,"86.960,52",USD,30/03/2014,05/03/2014,Si

# Preprocesamiento de datos

# Feature Selection

# Modelos

# Optimización de modelos

# Conclusiones Finales

In [27]:
# prompt: quiero armar una tabla para ver la SocGLA de cada cliente

# ... (Your existing code)

# Assuming 'df_comp_orig' is your combined DataFrame

# Create the table for SocGLA by client
socgla_table = df_comp_orig.groupby('Cliente')['SocGLA'].unique().reset_index()

# Display the table
socgla_table

# ... (Rest of your code)

     Cliente  SocGLA
0        100  [<NA>]
1      10001  [<NA>]
2      10002  [<NA>]
3      10003  [<NA>]
4      10004  [<NA>]
...      ...     ...
8001   LUY04  [<NA>]
8002   LUY05  [<NA>]
8003   LUY07  [<NA>]
8004   LVE03  [<NA>]
8005   LVE04  [<NA>]

[8006 rows x 2 columns]

In [28]:
socgla_table = df_comp_orig.groupby('SocGLA')['Cliente'].unique().reset_index()

In [29]:
socgla_table

     SocGLA                   Cliente
0    B1189F  [7501, 6118, 6145, 6131]
1    B1189U        [6118, 6245, 6131]
2    B459BE  [7646, 6300, 7428, 6838]
3    B459EG        [5841, 7416, 8000]
4    B459FR        [6296, 6299, 6747]
..      ...                       ...
273  Z01009        [1228, 4915, 6139]
274  Z01011                    [6033]
275  Z01018                    [6037]
276  Z01023                    [6091]
277  Z01028                    [6034]

[278 rows x 2 columns]